build
target
*/build
*/target
out
classes
dist
.idea/
*/*.iml
*.iml
.DS_Store
pedantism-resources
package-lock.json
/c:/
.gitlab-ci.yml
pre-commit
pom.xml
.gitlab-ci.yml
pedantism-starter/pom.xml
pedantism-custom-frontend/config/index.js
pedantism-custom-frontend/cypress/screenshots/
pedantism-custom-frontend/cypress/videos/
